.loginToPlay{
    color:rgb(66, 66, 238);
    border-bottom: 2px solid rgb(66, 66, 238);
    cursor: pointer;
}
h3{
    direction: rtl;
    text-align: right;
    padding-top:10px;
}
.image{
    float: right;
    position: relative;
    right: 10px;
    top: 6px;
    background: transparent;
}
img{
    width: 40%;
}
.noLoginText{
    margin: 0px 20px;
    direction: rtl;
}