<a href="" data-toggle="modal" data-target="#newFeedbackpopup">| תגובה חדשה</a>

<div class="modal fade" id="newFeedbackpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">הוספת תגובה חדשה</h5>
                <button type="button" class="close closeMyAdditiod" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>


            </div>
            <div class="modal-body">
                    <div *ngIf="playerName!=''">שלום {{playerName}} אנא רשום תגובה נחמדה</div>
                    <form #feedBackForm="ngForm" (ngSubmit)="postFeedback()" autocomplete="off">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" cols="50" name="fbText" [(ngModel)]="feedback.fbText" placeholder="פירגון..."
                                required></textarea>
                            <span *ngIf=""></span>
                            <BR>
                        
                        </div>
                    
                    </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול</button>
                <button type="button" class="btn btn-warning" (click)="postFeedback()" [disabled]="feedBackForm.form.invalid">פרסום הפרגון</button>
            </div>
        </div>
    </div>
</div>