<div class="meTitle text-right">יוצר האתר</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 h5 text-right me">
            אוהד קפלן<BR><BR>
                ת.ז: 040659518<BR><BR>
                ת. לידה: 20.8.1980. נשוי +2<BR> <BR>
                <a href="mailto:ohadkaplan@gmail.com">ohadkaplan@gmail.com</a><br><BR>
                <a routerLink="/contactus" routerLinkActive="selectedpage">צור קשר בטופס מקוון</a><BR>
        </div>
        <div class="col-md-7 left ">
            <img src="../../../assets/Images/General/me.PNG" width="75%">
        </div>
    </div>
</div>
